<!doctype html>
<html lang="en">
<head>
   <title>Feedback form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    b{
        font-size: 30px;
        font-family: "Comic Sans MS";
    }
</style>

<body>
<div class="container">
    <div class="row">
        <div class="off-set-md-3 col-md-6">
        {% if feedbacks %}
            <h2 class="text-center">Your Feedbacks here</h2>
        {% endif %}
            {% if feedbacks %}
            {% for i in feedbacks %}
                {% if i.rating >= 2 and i.rating <= 10 %}
              <b class="btn-success"> Name: {{ i.name }}</b><br>
               Date: {{ i.date }}<br>
               Rating: {{ i.rating }}<br>
               Feedback: {{ i.feedback}}<br><br>
                {% endif %}
            {% endfor %}
        {% else %}
        <h2>No Feedback available</h2>
        {% endif %}

            <h2 class="text-center">Please Enter your Feedback</h2>
            <form method="post">
                {% csrf_token %}
                {{ fform }}<br>
                <center>
                    <input type="submit" value="submit" class="btn btn-success">
                    <input type="reset" value="clear" class="btn btn-danger">
                </center>
            </form>
        </div>
    </div>
</div>
</body>
</html>